/* ======= table list ===========  */
.table-list {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.table-list_header {
  background-color: #2e2e2e;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;

}



.table-list_header--search {
  display: flex;
  gap: 12px;
  margin: 12px 0 0 12px;
}

#search-user {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 20px;
}

.table-list_header--search--button {
  background-color: #bbbbbb;
  border-radius: 5px;
  box-shadow: 10px;
  color: white;
}

.table-list_header--search--button :active {
  opacity: 0.6;
}


#searh-user {
  height: 100%;
  border: none;
  padding: none;
  outline: none;
}

.add-Data {
  background-color: rgb(128, 212, 234);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin: 12px;
}

.delete-datas{
  border: none;
  border-radius: 5px;
  background-color: rgb(237, 55, 55);
  color: rgb(255, 255, 255);
  width: 70px
}

.delete-datas:hover{
  opacity: 0.7;
}

#role-filter {
  margin: 12px 12px 0px 12px;
  border-radius: 5px;
  outline: none;
}

#role-filter>option {
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;

}


.table-list_main {
  margin: 40px 20px;
  width: 111%;
}

th {
  font-weight: 600;
  cursor: pointer;
}

tr>td:first-child {
  font-weight: 600;
}

tr {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
}

th,
td {
  width: 100%;
  display: block;
  align-self: left;
  justify-self: left;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #efefef;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


.btn-edit {
  background-color: yellow;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
}

.numberPage {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.active {
  background-color: #c9f1ff;
}

.preBtn {}

.page-item:active {
  outline: none !important;
  border: none !important
}

.nextBtn {
  opacity: 1;
}

.cursor-context-menu {
  cursor: context-menu !important;
}

.page-links:hover {
  opacity: 0.7;
}

.page-links {
  display: flex;
  border: solid 1px #ccc;
  border-radius: 3px;
  background-color: #fff;
  padding: 4px 11px 4px 11px;
  color: rgb(74, 135, 173);
}

.pagination {
  display: flex;
  gap: 9px;
  margin: 6px;
}